<h1>Emails#index</h1>
<p>Find me in app/views/emails/index.html.erb</p>

<div class="container">
  <div class="row">

    <div class="col-md-3" id = 'list-emails'>
      <%= link_to "Recevoir un email", emails_path, class: "btn btn-info", remote:true, method: :post %> <br>

      <div class="list-group">
        <% @emails.each do |email|  %>
        
          <%= link_to(email.object, email_path(email), class:"list-group-item list-group-item-action an-email", id:"email-#{email.id}", remote:true) %>
          <%end%>

      </div>
    </div>

    <div class="col-md-9">
      <div id="selected-email"> 
      </div>

    </div>
  </div>
</div>